{erl_opts, [debug_info,
            warn_untyped_records,
            warnings_as_errors,
            nowarn_export_all,
            {parse_transform, lager_transform}]}.

{deps, [lager,
        kuberl]}.

{relx, [{release, {vonnegut_operator, "semver"},
         [vonnegut_operator]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]}]}.

{dist_node, [{name, 'vg-controller@127.0.0.1'}]}.
