[
 {vonnegut_controller, []},

 {sasl, [{sasl_error_logger, false}]},

 {lager, [{reverse_pretty_stacktrace, false},
          {error_logger_redirect, true},
          {handlers,
           [{lager_console_backend,
             [{level, info},
              {formatter, lager_default_formatter},
              {formatter_config,
               [date, " ", time, " ", "[", severity, "] ",
                {pid, ["pid=", pid], ""},
                {module, [
                          " module=", module, " ",
                          {function, ["function=", function, " "], ""},
                          {line, ["line=",line], ""}], ""},
                " ", message, "\n"]}]}]}]}
].
